<% if @work.errors.any? %>
	<div class="alert alert-danger">
		<ul>
		<% @work.errors.full_messages.each do |message| %>
	  	<li><%= message %></li>
		<% end %>
		</ul>
	</div>
<% end %>

<center>
<% if (params[:action] == 'new' || params[:action] == 'create') %>
	<h3>New Work</h3>
<% else %>
	<h3>Edit Work</h3>
<% end %>

<%= form_for(@work) do |form| %>
	<table border="2px" style="width:25%" class="table table-striped">
		<tr>
			<td>Name</td>
			<td><%= form.text_field :name, class: 'form-control' %></td>
		</tr>
		<tr>
			<% if (params[:action] == 'new' || params[:action] == 'create') %>
				<td colspan="2" align="center"><%= form.submit('Create') %></td>
			<% else %>
				<td colspan="2" align="center"><%= form.submit('Update') %></td>
			<% end %>
			
		</tr>
	</table>
<% end %>
</center>